#!/bin/bash
set -e

# Stop Minecraft server before restore
systemctl stop minecraft

# Clear existing Minecraft data (CAREFUL!)
rm -rf "{{ minecraft_server_directory }}/world/*"
rm -rf "{{ minecraft_server_directory }}/plugins/*"
rm -rf "{{ minecraft_server_directory }}/logs/*"

# Restore Minecraft data from the latest snapshot
restic restore latest --target "{{ minecraft_server_directory }}"

# Start Minecraft server after restore
systemctl start minecraft
