global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node_exporter'
    static_configs:
      - targets:
        {% for host in groups['all'] -%}
          - "{{ hostvars[host].ansible_host }}:9100"
        {% endfor %}

  - job_name: 'minecraft'
    static_configs:
      - targets:
        {% for host in groups['minecraft_servers'] -%}
          - "{{ hostvars[host].ansible_host }}:9120"
        {% endfor %}
    metrics_path: /metrics
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        replacement: "{{ minecraft_server_directory }}"

  - job_name: 'haproxy'
    static_configs:
      - targets:
        {% for host in groups['haproxy_servers'] -%}
          - "{{ hostvars[host].ansible_host }}:9101"
        {% endfor %}
