filebeat.inputs:
  - type: log
    enabled: true
    paths:
      - "{{ minecraft_server_directory }}/logs/*.log"
    fields:
      log_type: minecraft
    fields_under_root: true
    scan_frequency: 10s
    # Add multiline pattern if your Minecraft logs have stack traces that span multiple lines
    multiline.pattern: '^[[:space:]]+(at|\.{3})\b|^Caused by:'
    multiline.negate: false
    multiline.match: after

  - type: log
    enabled: true
    paths:
      - /var/log/syslog
      - /var/log/auth.log
    fields:
      log_type: syslog
    fields_under_root: true
    scan_frequency: 10s

  - type: log
    enabled: true
    paths:
      - /var/log/haproxy*.log
    fields:
      log_type: haproxy
    fields_under_root: true
    scan_frequency: 10s

output.logstash:
  hosts: [
  {% for host in groups['logstash_servers'] -%}
    "{{ hostvars[host].ansible_host }}:5044"
    {% if not loop.last %},{% endif %}
  {%- endfor %}
  ]
  ssl.enabled: "{{ filebeat_logstash_ssl_enabled }}"
  ssl.certificate_authorities: ["/etc/filebeat/certs/ca.crt"]
  ssl.certificate: "/etc/filebeat/certs/filebeat.crt"
  ssl.key: "/etc/filebeat/certs/filebeat.key"
